<%= form_for [@project, @membership] do |f| %>

  <div class="well form-inline">
    <div class ="form-group"
    <%= f.label :user_id %>
    <%= f.collection_select :user_id, User.all, :id, :full_name, {include_blank: "Please select a user..."}, {class: "form-control"} %>
  </div>
  <div class ="form-group"
    <%= f.label :role %>
    <%= f.select(:role, [["Member", :member],["Owner", :owner]], {include_blank: false}, {class:"form-control"}) %>
</div>
  <%= f.submit 'Add New Member', class:"btn btn-info" %>
</div>


<% end %>
