<div class="page-header">
  <div class="pull-right">
    <%= link_to 'Edit', edit_task_path(@task), :class => "btn btn-info" %>

  </div>
  <h1><%= @task.description %></h1>
</div>


<div class="breadcrumb">
  <li><a href="/projects">Projects</a></li>
  <li><a><%= link_to @project.name, project_path(@project)%></a></li>
  <li><a><%= link_to "Tasks", project_tasks_path(@project, @task)%></a></li>
  <li class="active"><%= @task.description %></li>
</div>

<div>
  <strong>Due On:</strong>
  <%= @task.due %>
</div>


<h3> Comments </h3>


<% @task.comments.each do |comment| %>
<div class="row">
  <div class="col-md-3">
    <%= link_to comment.user.full_name, user_path(@user) %>
</div>

<div class="col-md-9">
  <%= comment.description %>
</div>
</div>

<div class="row">
<div class="col-md-3 text-muted">
  <%= time_ago_in_words(comment.created_at)%> ago
</div>
</div>
<% end %>


<%= form_for [@task, @comment], html: {class:"form-horizontal"} do |f| %>
<div class="form-group">
  <div class="field">
    <div class="col-md-9 col-md-offset-3">
      <%= f.text_area :description, class: "form-control" %>
    </div>
  </div>
</div>

<div class="form-group">
  <div class="field">
    <div class="col-md-9 col-md-offset-3">
      <%= f.submit "Add Comment", class:"btn btn-primary" %>
    </div>
  </div>
</div>
<% end %>
