<div class="page-header">
  <div class="pull-right">
    <%= link_to 'Edit', edit_user_path(@user), :class => "btn btn-info" %>

  </div>
  <h1><%= @user.full_name %></h1>
</div>

<div class="breadcrumb">
  <li><a href="/users">Users</a></li>
  <li class="active"><%= @user.full_name %></li>
</div>

<!-- 
  <div class="col-md-2">
  <strong>First Name:</strong>
</div>
  <div class="col-md-4">
      <%=  @user.first_name %>
</div>
<br></br


<div>
  <strong>Last Name:</strong>
  <%=  @user.last_name %>
</div>

<div>
  <strong>Email:</strong>
  <%=  @user.email %>
</div> -->
