<div class="page-header">
  <div class="pull-right">
    <% if @user == current_user %>
    <%= link_to 'Edit', edit_user_path(@user), :class => "btn btn-info" %>
<% end %>
  </div>
  <h1><%= @user.full_name %></h1>
</div>

<div class="breadcrumb">
  <li><a href="/users">Users</a></li>
  <li class="active"><%= @user.full_name %></li>
</div>


<dl class="dl-horizontal">
  <dt>First Name:</dt>
  <dd><%=  @user.first_name %></dd>
  <br>
  <dt>Last Name:</dt>
  <dd><%=  @user.last_name %></dd>
  <br>
  <% if @user == current_user %>
  <dt>Email:</dt>
  <dd><%=  mail_to @user.email %></dd>
  <% end %>
</dl>
