<%= form_for(@project,  html: {class:"form-horizontal"}) do |f| %>

<%= render partial: "shared/form", locals: {object: @project} %>

<div class="form-group">
  <div class="field">
    <div class="control-label col-md-2">
      <%= f.label :name %>
    </div>
    <div class="col-md-4">
      <%= f.text_field :name, class: "form-control"%>
    </div>
  </div>
</div>


<div class="form-group">
  <div class="col-md-4 col-md-offset-2">
    <div class="action">
      <% if @project.name == nil %>
      <%= f.submit "Create Project", class:"btn btn-primary"%>
      <% else %>
      <%= f.submit "Update Project", class:"btn btn-primary"%>
      <%= link_to 'Cancel', projects_path, class:"btn btn-default" %>
      <% end %>
    </div>
  </div>
</div>
<% end %>
