<div class="page-header">
  <h1>About</h1>
</div>

<div class="row">
  <div class="col-md-4">
    <img alt="About" class="img-responsive" <%= image_tag('About.jpg') %>
  </div>

  <div>
    <div class="col-md-8">
      <p> We are dedicated to the makers, the creators, the risk-takers. </p>

      <p> We wake up in the middle of the night and furiously write down ideas about how to make your online life better. </p>

      <p> Human collaboration and communication is what drives us, and it infuses every feature of Taskly. </p>
    </div>

  </div>
</div>
<div>
  Taskly is extremely active. Check out our killer stats below!
</div>
<div>
  <%= pluralize(@projects.count, "Project") %>, <%= pluralize(@tasks.count, "Task") %>, <%= pluralize(@memberships.count, "Membership") %>, <%= pluralize(@users.count, "User") %>, <%= pluralize(@comments.count, "Comment") %>
</div>
