<!DOCTYPE html>
<html>
<head>
  <%= favicon_link_tag 'favicon.ico' %>
  <title>gCampHayleyBlackstock</title>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">gCamp</a>
      </div>
    </div>
  </div>


  <div class="container">
    <% flash.each do |type, message| %>
    <% if type == "notice" %>
    <b>
      <center>
        <div class="alert alert-success">
          <%= message %>
        </div>
      </center>
    </b>
    <% elsif type == "alert" %>
    <b>
      <center>
        <div class="alert alert-danger">
          <%= message %>
        </div>
      </center>
    </b>
    <% end %>
    <% end %>

    <%= yield %>

    <footer>
      <div class="row">
        <div class="col-md-6">
          <a href="/about">About</a>
          |
          <a href="/terms">Terms</a>
          |
          <a href="/faq">FAQ</a>
          |
          <a href="/tasks">Tasks</a>
          |
          <a href="/users">Users</a>
          |
          <a href="/projects">Projects</a>
        </div>

        <div class="col-md-6 text-right">
          <a href="https://www.linkedin.com/in/hayleyblackstock">
            <img alt="LinkedIn" class="img-footer" <%= image_tag('LinkedIn.png') %>
          </a>
          <a href="https://github.com/hayleyblackstock">
            <img alt="Github" class="img-footer" <%= image_tag('GitHub.png') %>
          </a>
          <a href="https://twitter.com/hkblackstock">
            <img alt="Twitter" class="img-footer" <%= image_tag('Twitter.png') %>
          </a>
          <a href="https://students.gschool.it/cohorts/9/students/204">
            <img alt="Galvanize g" class="img-footer" <%= image_tag('gSchool.png') %>
          </a>        </div>
        </div>

      </div>


    </body>
    </html>
